.news {
  border-bottom: 3px solid #d81406;
}
.news-box {
  margin-top: 30px;
  margin-bottom: 80px;
  background: #000;
  padding: 10px;
  .recent-post-list {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    li {
      margin-bottom: 30px;
      @media (min-width: 320px) {
        width: 100%;
      }
      @media (min-width: 767px) {
        width: 49%;
      }
      @media (min-width: 1200px) {
        width: 33%;
      }
      a {
        color: #fff;
      }
      .block {
        display: block;
      }
      img {
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}