@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: 'AlternateGotNo1D';
  src: url('assets/fonts/AltNo1/AlternateGotNo1D.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlternateGotNo1D';
  src:  url('assets/fonts/AltNo1/AlternateGotNo1D.woff') format('woff'),
  url('assets/fonts/AltNo1/AlternateGotNo1D.ttf')  format('truetype'),
  url('assets/fonts/AltNo1/AlternateGotNo1D.svg#AlternateGotNo1D') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AlternateGotNo3D';
  src: url('assets/fonts/AltNo3/AlternateGotNo3D.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlternateGotNo3D';
  src:  url('assets/fonts/AltNo3/AlternateGotNo3D.woff') format('woff'),
  url('assets/fonts/AltNo3/AlternateGotNo3D.ttf')  format('truetype'),
  url('assets/fonts/AltNo3/AlternateGotNo3D.svg#AlternateGotNo3D') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AkzidenzGroteskBE-Regular';
  src: url('assets/fonts/Grotesk/AkzidenzGroteskBE-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskBE-Regular';
  src:  url('assets/fonts/Grotesk/AkzidenzGroteskBE-Regular.otf')  format('opentype'),
  url('assets/fonts/Grotesk/AkzidenzGroteskBE-Regular.woff') format('woff'),
  url('assets/fonts/Grotesk/AkzidenzGroteskBE-Regular.ttf')  format('truetype'),
  url('assets/fonts/Grotesk/AkzidenzGroteskBE-Regular.svg#AkzidenzGroteskBE-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskBE-LightCN';
  src: url('assets/fonts/GroteskLight/AkzidenzGroteskBE-LightCN.eot') format('embedded-opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskBE-LightCN';
  src:  url('assets/fonts/GroteskLight/AkzidenzGroteskBE-LightCN.otf')  format('opentype'),
  url('assets/fonts/GroteskLight/AkzidenzGroteskBE-LightCN.woff') format('woff'),
  url('assets/fonts/GroteskLight/AkzidenzGroteskBE-LightCN.ttf')  format('truetype'),
  url('assets/fonts/GroteskLight/AkzidenzGroteskBE-LightCN.svg#AkzidenzGroteskBE-LightCN') format('svg');
  font-weight: lighter;
  font-style: normal;
}







